* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
header {
  margin-top: 64px; /* Adjust according to your navbar height */
}

section {
  padding-top: 64px; /* Adjust according to your navbar height */
  box-sizing: border-box; /* Ensures padding is included in height calculations */
}
